# Update these with your Supabase details from your project settings > API
# https://app.supabase.com/project/_/settings/api
NEXT_PUBLIC_SUPABASE_URL="https://qgkhanfuowyomkrlugzt.supabase.co"
NEXT_PUBLIC_SUPABASE_ANON_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFna2hhbmZ1b3d5b21rcmx1Z3p0Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3MjI5Mzg3OTIsImV4cCI6MjAzODUxNDc5Mn0.AkZACuMpEY1Ns96IUyhgnkxJX47yzjd794h3U_9sAiY"
